#resource-manag-chemicals{
    margin: auto;
}
#resource-manag-chemicals .el-select{
    margin-left: 2vh;
}
#resource-manag-chemicals .el-input-number{
    margin-left: 2vh;
}
#resource-manag-chemicals .el-table .warning-row {
    background: oldlace;
}
#resource-manag-chemicals .el-table .success-row {
    background: #f0f9eb;
}
#resource-manag-chemicals .table{
    widows: 95vw;  
    margin-left:auto;
    margin-right:auto;
    padding:0 1em;
}
#resource-manag-chemicals .retrieval-top{
    background-color: white;
    height:6vh;
    line-height: 6vh;
    padding-left: 1em;
    color: #457EDD;
}
#resource-manag-chemicals .item .input{
    margin:0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1.5em 0;
}

#resource-manag-chemicals .item .input .split-div1{

    width:38%;
}

#resource-manag-chemicals .item .input .split-div2{
    width: 1%;
}

#resource-manag-chemicals .item .input>.el-input{
    width:25%;
}

#resource-manag-chemicals .item{
    /* height:20vh; */
    background-color: white;
    padding: 1em;
}

#resource-manag-chemicals  .el-pagination{
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}