.simple-title-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C7D8F5;
    color: #457EDD;
    line-height: 1.5em;
}