#resource-manag{
    margin:0;
    height: 100%;
}

#resource-manag .el-main{
    background-color: #fff;
}

#resource-manag>.main{
    margin: 20px;
    box-sizing: border-box;
    background-color: white !important;
    height: 89%;
}
