#resource-manag{
    margin:0;
    height: 100%;
}

#resource-manag .el-main{
    background-color: #fff;
}

#resource-manag .header{
    background-color: white;
    height:6vh;
    line-height: 6vh;
    padding-left: 1em;
    color: #457EDD;
    font-size: larger;
}

#resource-manag .header span:nth-child(1){
    font-weight: 900;
}

#resource-manag>.main{
    margin: 20px;
    box-sizing: border-box;
    background-color: white !important;
    height: 89%;
}
