#input-chemical{
    height: 100%;
}

#input-chemical>.el-container{
    height:100%;
}

#input-chemical>.el-container .all_input_container{
    box-sizing: border-box;
    padding-left:10%;
    padding-right:10%;
}

#input-chemical>.el-container .input_container{
    margin-top: 10%;
}

#input-chemical>.el-container .input_container>label{
    line-height: 1.8em;
    color:  #606266;
}

#input-chemical>.el-container .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#input-chemical>.el-container>.el-main .demo-table-expand {
    font-size: 0;
    color:#606266;
  }
#input-chemical>.el-container>.el-main .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
#input-chemical>.el-container>.el-main .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }

#input-chemical>.el-container>.el-main .el-pagination{
      margin: auto;
      margin-top: 3%;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }