#user-manag{
    margin:0;
    height: 100%;
}

#user-manag>.header{
    background-color: white;
    height:6vh;
    line-height: 6vh;
    padding-left: 1em;
    color: #457EDD;
    font-size: larger;
}

#user-manag .header span:nth-child(1){
    font-weight: 900;
}

#user-manag>.main{
    margin: 20px;
    box-sizing: border-box;
    height: 89%;
    background-color: white;
}