@import '~css/generate.css';


#main>.el-container{
    height:100vh;
  }

  #main>.el-container>.el-container{
    height: 80vh;
  }

  #main>.el-container>.el-header{
    height:10vh;
    background-color:#457EDD;
  }

  #main>.el-container>.el-container>.el-main{
    height:100%;
  }

  #main>.el-container>.el-container>.el-aside{
    background-color:#343641;
    width:13% !important;
  }

  #main>.general-mask{
    width:100vw;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(48,49,51,0.4);
  }

  